@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

#logo {
    width: 176px;
    height: 44;
    margin-right: 4%;
}

body {
    background-color: #1e1e48;
}

.navbar_text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: #b8b6b4;
}

.navbar-brand {
    margin-right: 4%;
}

.navbar-options {
    margin-left: 4%;
}

.navbar {
    width: 100%;
    height: 126px;
    background-color:#12122B;
}

#tab-busqueda a {
    font-family: 'Noto Sans JP', sans-serif;
    color: #b8b6b4;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 30px;
}

.titulo {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #b8b6b4;
    text-transform: uppercase;
    padding-bottom: 4px;
    letter-spacing: 2px;
}

.store-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #b8b6b4;
    text-transform: uppercase;
    text-align: left;
}

.post-slider {
    padding: 30px 0px 100px;
}

.post-slider .carousel-indicators {
    bottom: -70px;
}

.mainpage a {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    color: #b8b6b4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.mainpage p {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: capitalize;
    font-size: 15px;
    color: #b8b6b4;
    margin-top: 16%;
}

#pricebadge {
    margin-top: 16%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    max-width: 50%;
    background-color:rgba(0, 0, 0, 0.308);
}

/*PAGINA DETALLE*/
.gamepage .carousel-control-next {
    margin-right: 52%;
    margin-top: 35%
}

.gamepage .carousel-control-prev {
    margin-top: 35%
}

.gamepage .carousel-indicators {
    margin-right: 68%;
    margin-bottom: 2%;
}

.gamepage a {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    color: #b8b6b4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.gamepage p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    color: #b8b6b4;
    padding-top: 10px;
}

#gameheader {
    width: 324px;
    height: 151px;
}

.gamepage .badge {
    font-size: 10px;
}

.gamepage .gameinfo-title {
    font-family: 'Noto Sans JP', sans-serif;
    color:#556772;
    text-transform: uppercase;
    font-size: 11px;
    padding-right: 5px;
}